layout {
    background-color "transparent"
    focus-ring {
        off
    }
    border {
        off
    }
    shadow {
        softness 30
        spread 4
        offset x=0 y=4
        color "#00000060"
    }
    tab-indicator {
        active-color   "{{colors.primary.default.hex}}"
        inactive-color "{{colors.outline.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }
    insert-hint {
        color "{{colors.primary.default.hex}}80"
    }
}
recent-windows {
    highlight {
        corner-radius 10
        active-color  "{{colors.surface_container_highest.default.hex}}"
        urgent-color  "{{colors.error.default.hex}}"
    }
}
